* {
    box-sizing: border-box;
    margin: 0;    
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: rgb(24, 24, 79);
    color: white;
}



/* App */
.App {
    max-width: 1000px;
    margin: 0 auto;    
}

/* Banner */
h1 {
    margin: 4rem auto;
}

/* NewEntry */
.new--entry {
    background-color: rgb(36, 172, 221); 
    width: 300px;
    margin: 0 auto; 
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 10px;  
    color:rgb(24, 24, 79);
}

input, textarea {
    text-align: left;    
}

/* OrganizeList */
.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;    
    margin: 2rem auto;
    border: 2px rgb(36, 172, 221) solid;
    border-radius: 5px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;    
}

.sort {
    display: flex;
    flex-direction: row;
    margin-right: 4rem;
}

/* EntryList */
.entry--list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

/* Entry */
.entry {
    border: 1px solid rgb(36, 172, 221); 
    border-radius: 5px;
    padding: 0.25rem;
}

.entry p {
    margin: 1rem auto;
}

h3 {
    margin: 0.5rem auto;
}


/* Footer */
footer {    
    margin-top: 6rem;
}

footer a {
    color: white;
}